## 2019

In [ ]:
import pandas as pd

df = pd.read_excel('/content/Tingkat Penghunian Kamar pada Hotel Bintang 2019.xlsx', skiprows=2, skipfooter=2)
df = df.dropna().drop('Tahunan', axis=1)
column_names = df.columns.to_list()
column_names[0] = 'name'
df.columns = column_names
df = df.loc[:33]
df['name'] = df['name'].replace({'KEP. BANGKA BELITUNG': 'KEPULAUAN BANGKA BELITUNG	', 'KEP. RIAU': 'KEPULAUAN RIAU	'})
df['year_avg'] = df[column_names[1:]].mean(axis=1)

long_lat = pd.read_csv('https://raw.githubusercontent.com/benangmerah/wilayah/master/datasources/daftar-nama-daerah.csv')
long_lat = long_lat.loc[:32]
long_lat['name'] = long_lat['name'].apply(lambda x: ' '.join(x.split(' ')[1:])).str.upper()
long_lat = long_lat[['name', 'latitude', 'longitude']]

df_master = df.merge(long_lat, on='name')
df_master

                   name  Januari  Februari  ...   year_avg  latitude   longitude
0                  ACEH    31.36     41.46  ...  42.984167  4.695135   96.749399
1        SUMATERA UTARA    42.85     45.31  ...  47.770000  2.115355   99.545097
2        SUMATERA BARAT    46.08     53.11  ...  54.332500 -0.739940  100.800005
3                  RIAU    43.73     42.63  ...  46.629167  0.293347  101.706829
4                 JAMBI    41.78     40.76  ...  43.965833 -1.485183  102.438058
5      SUMATERA SELATAN    59.45     50.83  ...  53.011667 -3.319437  103.914399
6              BENGKULU    46.20     68.27  ...  62.315000 -3.577847  102.346388
7               LAMPUNG    42.89     54.44  ...  58.939167 -4.558585  105.406808
8           DKI JAKARTA    69.84     63.37  ...  60.515000 -6.211544  106.845172
9            JAWA BARAT    45.33     51.57  ...  52.247500 -7.090911  107.668887
10          JAWA TENGAH    42.49     44.17  ...  46.103333 -7.150975  110.140259
11        DI YOGYAKARTA    50.19     54.19  ...  58.136667 -7.875385  110.426209
12           JAWA TIMUR    51.52     52.65  ...  55.420000 -7.536064  112.238402
13               BANTEN    49.92     53.31  ...  48.320833 -6.405817  106.064018
14                 BALI    53.27     56.48  ...  59.565000 -8.409518  115.188916
15  NUSA TENGGARA BARAT    32.84     32.63  ...  41.430000 -8.652933  117.361648
16  NUSA TENGGARA TIMUR    35.39     45.40  ...  50.609167 -8.657382  121.079371
17     KALIMANTAN BARAT    40.06     46.12  ...  46.642500 -0.278781  111.475285
18    KALIMANTAN TENGAH    50.06     52.32  ...  55.064167 -1.681488  113.382354
19   KALIMANTAN SELATAN    43.87     47.54  ...  49.964167 -3.092642  115.283758
20     KALIMANTAN TIMUR    47.90     49.06  ...  56.363333  1.640630  116.419389
21       SULAWESI UTARA    67.58     64.90  ...  62.723333  0.624693  123.975002
22      SULAWESI TENGAH    35.45     32.76  ...  45.490833 -1.430025  121.445618
23     SULAWESI SELATAN    44.52     45.68  ...  49.195000 -3.668799  119.974053
24    SULAWESI TENGGARA    41.73     33.74  ...  40.051667 -4.144910  122.174605
25            GORONTALO    52.12     39.72  ...  46.208333  0.699937  122.446724
26       SULAWESI BARAT    41.26     43.63  ...  46.755000 -2.844137  119.232078
27               MALUKU    23.07     31.27  ...  37.049167 -3.238462  130.145273
28         MALUKU UTARA    31.75     51.96  ...  49.741667  1.570999  127.808769
29          PAPUA BARAT    42.17     47.02  ...  49.966667 -1.336115  133.174716
30                PAPUA    36.09     40.14  ...  46.865833 -4.269928  138.080353

[31 rows x 16 columns]

In [ ]:
df_master.to_csv('hotel_2019.csv', index=False)

## 2020

In [ ]:
df = pd.read_excel('/content/Tingkat Penghunian Kamar pada Hotel Bintang 2020.xlsx', skiprows=2, skipfooter=2)
df = df.dropna().drop('Tahunan', axis=1)
column_names = df.columns.to_list()
column_names[0] = 'name'
df.columns = column_names
df = df.loc[:33]
df['name'] = df['name'].replace({'KEP. BANGKA BELITUNG': 'KEPULAUAN BANGKA BELITUNG	', 'KEP. RIAU': 'KEPULAUAN RIAU	'})
df['year_avg'] = df[column_names[1:]].mean(axis=1)
df

long_lat = pd.read_csv('https://raw.githubusercontent.com/benangmerah/wilayah/master/datasources/daftar-nama-daerah.csv')
long_lat = long_lat.loc[:32]
long_lat['name'] = long_lat['name'].apply(lambda x: ' '.join(x.split(' ')[1:])).str.upper()
long_lat = long_lat[['name', 'latitude', 'longitude']]

df_master = df.merge(long_lat, on='name')
df_master

                   name  Januari  Februari  ...   year_avg  latitude   longitude
0                  ACEH    35.36     39.33  ...  25.165833  4.695135   96.749399
1        SUMATERA UTARA    48.06     45.24  ...  30.778333  2.115355   99.545097
2        SUMATERA BARAT    44.21     46.55  ...  34.007500 -0.739940  100.800005
3                  RIAU    42.49     44.09  ...  32.047500  0.293347  101.706829
4                 JAMBI    41.66     42.69  ...  34.060000 -1.485183  102.438058
5      SUMATERA SELATAN    48.11     53.22  ...  40.533333 -3.319437  103.914399
6              BENGKULU    43.11     61.85  ...  37.960000 -3.577847  102.346388
7               LAMPUNG    57.88     57.38  ...  43.749167 -4.558585  105.406808
8           DKI JAKARTA    51.37     54.28  ...  38.728333 -6.211544  106.845172
9            JAWA BARAT    47.06     50.15  ...  35.220833 -7.090911  107.668887
10          JAWA TENGAH    41.51     46.36  ...  28.838333 -7.150975  110.140259
11        DI YOGYAKARTA    52.93     56.32  ...  34.155833 -7.875385  110.426209
12           JAWA TIMUR    48.69     52.65  ...  35.294167 -7.536064  112.238402
13               BANTEN    49.05     51.14  ...  34.624167 -6.405817  106.064018
14                 BALI    59.29     45.98  ...  15.618333 -8.409518  115.188916
15  NUSA TENGGARA BARAT    38.93     36.70  ...  27.574167 -8.652933  117.361648
16  NUSA TENGGARA TIMUR    39.26     38.50  ...  29.635833 -8.657382  121.079371
17     KALIMANTAN BARAT    46.62     49.41  ...  32.845000 -0.278781  111.475285
18    KALIMANTAN TENGAH    39.74     48.28  ...  37.905833 -1.681488  113.382354
19   KALIMANTAN SELATAN    37.20     48.35  ...  38.120833 -3.092642  115.283758
20     KALIMANTAN TIMUR    50.84     61.25  ...  44.503333  1.640630  116.419389
21       SULAWESI UTARA    59.10     44.01  ...  37.614167  0.624693  123.975002
22      SULAWESI TENGAH    47.94     48.35  ...  36.407500 -1.430025  121.445618
23     SULAWESI SELATAN    48.14     49.26  ...  38.173333 -3.668799  119.974053
24    SULAWESI TENGGARA    39.18     54.32  ...  30.670833 -4.144910  122.174605
25            GORONTALO    30.50     44.86  ...  32.827500  0.699937  122.446724
26       SULAWESI BARAT    42.59     49.72  ...  30.967500 -2.844137  119.232078
27               MALUKU    31.79     38.16  ...  35.500833 -3.238462  130.145273
28         MALUKU UTARA    56.74     41.15  ...  28.535833  1.570999  127.808769
29          PAPUA BARAT    50.40     57.41  ...  37.937500 -1.336115  133.174716
30                PAPUA    41.14     51.43  ...  34.350833 -4.269928  138.080353

[31 rows x 16 columns]

## 2021

In [ ]:
df = pd.read_excel('/content/Tingkat Penghunian Kamar pada Hotel Bintang 2021.xlsx', skiprows=2, skipfooter=2)
df = df.dropna().drop('Tahunan', axis=1)
column_names = df.columns.to_list()
column_names[0] = 'name'
df.columns = column_names
df = df.loc[:33]
df['name'] = df['name'].replace({'KEP. BANGKA BELITUNG': 'KEPULAUAN BANGKA BELITUNG	', 'KEP. RIAU': 'KEPULAUAN RIAU	'})
df['year_avg'] = df[column_names[1:]].mean(axis=1)
df

long_lat = pd.read_csv('https://raw.githubusercontent.com/benangmerah/wilayah/master/datasources/daftar-nama-daerah.csv')
long_lat = long_lat.loc[:32]
long_lat['name'] = long_lat['name'].apply(lambda x: ' '.join(x.split(' ')[1:])).str.upper()
long_lat = long_lat[['name', 'latitude', 'longitude']]

df_master = df.merge(long_lat, on='name')
df_master

                   name  Januari  Februari  ...   year_avg  latitude   longitude
0                  ACEH    20.13     17.65  ...  25.528571  4.695135   96.749399
1        SUMATERA UTARA    37.63     36.58  ...  35.960000  2.115355   99.545097
2        SUMATERA BARAT    37.27     36.04  ...  37.231429 -0.739940  100.800005
3                  RIAU    36.69     38.16  ...  35.347143  0.293347  101.706829
4                 JAMBI    26.50     38.42  ...  36.147143 -1.485183  102.438058
5      SUMATERA SELATAN    45.85     46.11  ...  46.182857 -3.319437  103.914399
6              BENGKULU    31.96     37.65  ...  34.730000 -3.577847  102.346388
7               LAMPUNG    37.63     40.52  ...  38.785714 -4.558585  105.406808
8           DKI JAKARTA    41.12     41.53  ...  43.314286 -6.211544  106.845172
9            JAWA BARAT    29.16     37.15  ...  34.067143 -7.090911  107.668887
10          JAWA TENGAH    24.73     26.64  ...  27.442857 -7.150975  110.140259
11        DI YOGYAKARTA    24.91     26.87  ...  31.471429 -7.875385  110.426209
12           JAWA TIMUR    38.63     36.39  ...  37.072857 -7.536064  112.238402
13               BANTEN    37.06     39.19  ...  36.672857 -6.405817  106.064018
14                 BALI    11.15      8.99  ...  10.390000 -8.409518  115.188916
15  NUSA TENGGARA BARAT    20.17     31.20  ...  29.935714 -8.652933  117.361648
16  NUSA TENGGARA TIMUR    22.51     18.40  ...  28.388571 -8.657382  121.079371
17     KALIMANTAN BARAT    25.84     34.93  ...  35.804286 -0.278781  111.475285
18    KALIMANTAN TENGAH    32.54     42.05  ...  38.910000 -1.681488  113.382354
19   KALIMANTAN SELATAN    43.30     38.01  ...  37.342857 -3.092642  115.283758
20     KALIMANTAN TIMUR    42.98     43.82  ...  46.727143  1.640630  116.419389
21       SULAWESI UTARA    38.84     38.81  ...  41.577143  0.624693  123.975002
22      SULAWESI TENGAH    30.37     31.50  ...  36.305714 -1.430025  121.445618
23     SULAWESI SELATAN    26.43     30.19  ...  32.755714 -3.668799  119.974053
24    SULAWESI TENGGARA    29.35     36.14  ...  35.687143 -4.144910  122.174605
25            GORONTALO    29.58     44.66  ...  40.170000  0.699937  122.446724
26       SULAWESI BARAT    17.23     19.94  ...  21.538571 -2.844137  119.232078
27               MALUKU    31.56     41.10  ...  38.307143 -3.238462  130.145273
28         MALUKU UTARA    31.00     34.73  ...  37.225714  1.570999  127.808769
29          PAPUA BARAT    39.40     44.58  ...  41.392857 -1.336115  133.174716
30                PAPUA    35.00     32.64  ...  38.371429 -4.269928  138.080353

[31 rows x 16 columns]

In [ ]:
df_master.to_csv('hotel_2021.csv', index=False)